

.header {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border-bottom: solid 0.05vh rgba(100, 100, 100);
}

.header > .header-inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .header-inner > .logo {
    font-size: 2.8vh;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.header > .header-inner > .logo:hover {
    color: rgba(220, 220, 220);
}

.header > .header-inner  > .basket-login {
    display: flex;
    align-items: center;
    font-family: 'Noto Sans Display', sans-serif;
}

.header > .header-inner  > .basket-login > a {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.8vh;
    color: white;
}

.header > .header-inner  > .basket-login > a:hover {
    color: rgba(220, 220, 220);
}

.header > .header-inner  > .basket-login > a:not(:last-child) {
    margin-right: 1.5vh;
}