@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*user-select: none;*/
}

body {
  background-color: rgba(21, 21, 21);
  color: white;
  font-family: 'Noto Serif Display', serif;
  --main-color: white;
  --main-color75: rgba(255, 255, 255, 0.75);
  --main-color50: rgba(255, 255, 255, 0.5);
  --main-color25: rgba(255, 255, 255, 0.25);
  --contrast-color: black;
  --contrast-color75: rgba(0, 0, 0, 0.75);
  --contrast-color50: rgba(0, 0, 0, 0.5);
  --contrast-color25: rgba(0, 0, 0, 0.25);
}

[data-theme="light"] {
  background-color: rgba(255, 255, 255) !important;
  color: black !important;
  --main-color: black;
  --main-color75: rgba(0, 0, 0, 0.75);
  --main-color50: rgba(0, 0, 0, 0.5);
  --main-color25: rgba(0, 0, 0, 0.25);
  --contrast-color: white;
  --contrast-color75: rgba(255, 255, 255, 0.75);
  --contrast-color50: rgba(255, 255, 255, 0.5);
  --contrast-color25: rgba(255, 255, 255, 0.25);
}

.content {
  display: flex;
  justify-content: center;
}

.section-header {
  font-size: 4vh;
  font-weight: 500;
  margin: 1vh 0;
}